*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: black;
    color: #24BF0F;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.350);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    flex-direction: column;
}

form{
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

form > input{
    margin-right: 10px;
    margin-left: 10px;
    width: 12%;
    height: 50%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

form > input::placeholder{
    color: #24BF0F;
}

.botao{
    height: 60%;
    width: 2%;
    margin-right: 10px;
    background-color: #24BF0F;
    color: black;
    border: none;
    border-radius: 5px;
}

.botao:hover{
    cursor: pointer;
}

.imagem-avatar{
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.250);
}

.portal{
    height: 50%;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #24BF0F;
}

h2{
    color: #24BF0F;
    margin-top: 20px;
}

p{
    font-size: 20px;
    font-weight: bolder;
}

.container{
    margin-top: 20px;
}

@media (max-width: 800px) {
    .botao{
        width: 10%;
    }

    form > input{
        width: 30%;
    }
}